@import './icon.less';
@import "./_varibables.less";


.app-nav-bar {
  background-color: #3296fa;
  .van-nav-bar__title {
    color: #fff;
  }
  .van-icon-arrow-left {
    color: #fff;
  }
  .van-nav-bar__text {
    color: #fff;
  }
}

// 全局样式文件

body {
  height: 100%;
    // background-color: #f5f7f9;
    background-color: #e1e3e5e3;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei, Arial, sans-serif;
  font-family: 'FiraCode-Light', 'JetBrainsMono', 'Menlo', 'Monaco', 'Courier New', 'monospace';
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

aside {
  // background: #eef1f6;
  // padding: 8px 24px;
  // margin-bottom: 20px;
  // border-radius: 2px;
  // line-height: 32px;
  display: block;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

ul li {
  list-style: none;
}

.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

.ft-16 {
  font-size: 16px;
}
.ft-18 {
  font-size: 18px;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// text align
each(@text-align, {
    .text-@{value} {
        text-align: @value!important;
      }
})

// 文字颜色
each(@colors, {
    .text-@{key} {
        color: @value
    }
})

// background-color
each(@colors, {
    .bg-@{key} {
        background-color: @value;
    }
});

// font-size
each(@font-sizes, {
    .font-@{key} {
        font-size: @value;
    }
})

// flex  grid

.flex-1 {
  flex: @flex-1;
}

.d-flex {
  display: @flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline-block;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
each(@flex-jc, {
    .jc-@{key} {
        justify-content: @value;
    }
})

each(@flex-ai, {
    .ai-@{key} {
        align-items: @value;
    }
})


each(@marAndPadAndFontList, {
    .mt-@{key} {
        margin-top: @value;
    }
    .mr-@{key} {
        margin-right: @value;
    }
    .mb-@{key} {
        margin-bottom: @value;
    }
    .ml-@{key} {
        margin-left: @value;
    }
    .mg-@{key} {
        margin: @value;
    }
});

each(@marAndPadAndFontList, {
    .pt-@{key} {
        padding-top: @value;
    }
    .pr-@{key} {
        padding-right: @value;
    }
    .pb-@{key} {
        padding-bottom: @value;
    }
    .pl-@{key} {
        padding-left: @value;
    }
    .pg-@{key} {
        padding: @value;
    }
    .pg-@{key} {
        padding: @value;
    }
    .ptb-@{key} {
        padding-top: @value;
        padding-bottom: @value;
    }
    .plr-@{key} {
        padding-left: @value;
        padding-right: @value;
    }
});


each(@border, {
  .border-@{key}{
      border-@{key}: 1px solid #999;
  }
})



// btn
.btn {
  border: none;
  border-radius: 0.1538rem;
  padding: 0.2rem 0.6rem;
  font-size: @font-sizes[sm];
}

.nav {
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;
    color: @colors[dark]
  }
  & .active {
    border-bottom-color: @colors[primary];
    color: @colors[primary]
  }
&.nav-inverse {
  .nav-item {
    color: @colors[white];
    border-bottom-color:  transparent;
  }
  & .active {
    border-bottom-color: @colors[white];
  }
}
}

// sprite
.sprites {
  // background: url(../index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  // 展示问题i
  display: inline-block;
  &.sprites-new {
    background-position: 63.546% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }

  &.sprites-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
}


// card 组件
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

